body{
    margin: 0;
    width: 100%;
}
.posty{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.post{
    height: 150px;
    border: 1px lightblue solid;
}
main{
    display: flex;
    width: 100%;
    justify-content: center;
}
a{
    margin: 20px;
    color: black;
    text-decoration: none;
}
.post > *{
    display: block;
}
.tytul{
    font-size: 200%;
    margin: 20px;
}
.tresc{
    color: gray;
    margin-inline: 20px;
}